    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs')%>
    <h1>Bem-vindo a página de produtos</h1>
    <hr>
    <h3>Confira nossos produtos!</h3>
    
    <!-- Exibindo uma variável Javascript dentro do HTML -->
    <!-- Comentário no EJS <%# %> -->

    <!-- Percorrendo o vetor através do forEach -->
    <% listaProdutos.forEach(function(produto) { %>
        <p> 
            <a href="/produtos/<%= produto %>">

            <%= produto %> 

            </a>        
        </p>
    <% }) %>

    <p><a href="/">Voltar</a></p>  
    <%- include ('partials/footer.ejs') %>