    <%- include ('partials/header.ejs')%>
    <%- include ('partials/navbar.ejs')%>
    <h1>Bem-vindo a página de serviços</h1>
    <hr>
    <h3>Confira nossos serviços!</h3>

    <!-- Exibindo o array de objetos em uma tabela com o forEach -->

    <table class="table table-bordered table-hover">
        <tr class="table-dark">
            <th>Serviço</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>

        <% servicos.forEach(function(servico) { %>
            <tr>
                <td><%= servico.servico %></td>
                <td><%= servico.descricao %></td>
                <td><%= servico.preco %></td>
            </tr>

        <% }) %>

    </table>
    
    <p><a href="/">Voltar</a></p>  
    <%- include ('partials/footer.ejs')%>