<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!-- Página de Edição -->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Alterar cliente</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/clientes/alterar" method="POST">
                <label>Nome do Cliente:</label>
                <input type="text" name="nome" class="form-control" value="<%= cliente.nome %>" required>
                <label>CPF do Cliente:</label>
                <input type="text" name="cpf" class="form-control" value="<%= cliente.cpf %>" required>
                <label>Endereço do Cliente:</label>
                <input type="text" name="endereco" class="form-control" value="<%= cliente.endereco %>" required>
                <br>

                <!-- Input escondida para armazenar o ID do cliente -->
                <input type="hidden" name="id" value="<%= cliente.id %>">

                <!-- Botão de Enviar -->
                 <input type="submit" value="Alterar" class="btn btn-warning">
                <!-- Botão de Limpar -->
                 <input type="reset" value="Limpar" class="btn btn-danger">
            </form>
            <hr>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>